*.tmp
*.bak
*.swp
*~.nib
*.iml
*.ipr
*.iws
*.log
*.epoch
*.launch
.idea
.DS_Store
.ekstazi
.settings
.settings/*
.springBeans/*
.factorypath
.pmd
.metadata
.gradle
.loadpath
.project
.externalToolBuilders/
.cproject
.classpath
.factorypath
.buildpath
.checkstyle
.texlipse
.svn

id_file
bin/
tmp/
/logs/
/target/
/target/*
*/target/*

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

hs_err_pid*

